.box {
  position:absolute;
  top:40vh;
  padding:5% 20%;
  display:flex;
  z-index:2;
  pointer-events:none;
}

#box1 {
  opacity:0;
  background-color:rgba(149, 255, 255, 0.8);
}

#box2 {
  opacity:0;
  background-color:rgba(255, 149, 241, 0.8);
}

#flowerbox1 {
  opacity:0;
  background-color:rgba(100, 148, 237, 0.8);
}

#flowerbox2 {
  opacity:0;
  background-color:rgba(255, 159, 168, 0.8)
}

canvas {
  position:fixed;
  top:0;
  left:0;
  z-index:-2;
}

.center {
  display:flex;
  justify-content:center;
}