#box1 {
  position:absolute;
  top:40vh;
  padding:10% 20%;
  display:flex;
  z-index:2;
  background-color:rgba(149, 255, 255, 0.695);
  visibility:hidden;
}

canvas {
  position:fixed;
  top:0;
  left:0;
  z-index:-2;
}

.center {
  display:flex;
  justify-content:center;
}